*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;

}
 header nav {
    color: #E5E5CB;
 }
body{
    background-color: #1A120B;
}
h1::before{
    content: open-quote;
}
h1::after{
    content: close-quote;
}
h1{
    color: #E5E5CB ;
    margin-top: 20px ;
    text-align: center;
}
h2{
    color: #E5E5CB ;
    margin-top: 20px ;
    padding:0px 50px 20px 20px  ;
    /* text-align: center; */
}
main{
    float: left;
    width: 79%;
}
main{
    counter-reset: counter ;
}
main h2::before{
    counter-increment: counter;
    content: counter(counter) ' ';
}
.preface{
    color: #D5CEA3;
    font-size: 25px;
    padding:10px 50px 20px 20px ;
    background-color: #472d2d;
    border-radius: 20px;

}
.para{
    color: #D5CEA3;
    font-size: 25px;
    padding:50px 50px 20px 20px ;
    background-color: #472d2d;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.parag{
    color: #D5CEA3;
    font-size: 25px;
    padding:10px 50px 20px 20px ;
    background-color: #472d2d;

}
aside{

    float: right;
    width: 20%;
    background-color: #2b1b1b;
    border-radius: 20px;
    padding: 10px 50px 20px 20px;
}
.sidebar ul {
    list-style: lower-greek;
}
.sidebar ul li {
    padding-top: 15px; 
    font-family: cursive;  
}
a{
    color: #aca473;
    text-decoration: none;
    text-shadow: #000000ad 2px 2px 3px;
}
main a[data-tool-tip]{
    position: relative;
}
main a[data-tool-tip]::after{
    content: attr(data-tool-tip);
    display: block;
    position:absolute;
    background-color: #D5CEA3;
    padding: 1em 3em;
    border-radius:10px;
    font-size: .60em;
    bottom: 100%;  
    left: 0;
    white-space:nowrap;
    transform:scale(0);
    transition: transform ease-in-out 150ms , bottom ease-out 150ms;
}
main a[data-tool-tip]:hover::after{
    transform: scale(1);
}
a:hover { color: #2E4F4F;}
a:visited { color: #7e6f0b;}

aside a[href$=".pdf"]::after{
    font-family: 'Font awesome 5 free';
    content: '\f1c1';
}
aside a[href^="http"]::after{
    font-family: serif;
    content: '\f35d';
    font-weight: 900;
}
.summa{
    color: #aca473;
    font-size: medium;
    padding: 5px;
}